          <div class="blue1 row ">
              <div class="col-sm-1" ><i class="fa fa-mobile-phone fa-lg material-icons" ></i><a href="/"> Mobile recharge</a> </div>
              <div class="col-sm-1" ><i class="fa fa-bolt fa-lg material-icons"></i><a href="Electricity"> Electricity</a></div>
              <div class="col-sm-1"><i class="fa fa-text-width fa-lg material-icons"></i> Dth</div>
              <div class="col-sm-1"><i class="fa fa-subway fa-lg material-icons"></i> Metro</div>
              <div class="col-sm-1"><i class="fa fa-camera-retro fa-lg material-icons"></i> Gold</div>
              <div class="col-sm-1"><i class="fa fa-camera-retro fa-lg material-icons"></i> Landline</div>
              <div class="col-sm-1"><i class="fa fa-camera-retro fa-lg material-icons"></i>Brodband</div>
              
          </div>