<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PayTime</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container1">
        <header>
          {{> navbar }}
        </header>
    </div>
     
    <div class="container2">
         {{> icons }}
    
          <div class="white">
                  <h2>Mobile Recharge or Bill Payment</h2>
                  <input type="checkbox">Prepaid
                  <input type="checkbox">Postpaid
                  <br>
                  <br>

                  <section>
                      <label for="Mobile">Mobile number</label>
                      <input id="name" type="tel" value="" maxlength="10" name="Mobile">
                      <label for="Operator">Operator</label>
                      <input id="Operator" type="text" required="MObile number" value="" maxlength="10">
                      <label for="amount">Amount</label>
                      <input id="amount"  type="" value="" maxlength="5" name="Amount">
                  </section>
                  <br>
                  <button type="button" class="btn btn-primary">Proceed to Recharge</button>
          </div>
          <div class="Books">
                <h2>Offers on PayTime</h2>
            
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
              
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="https://www.cashngifts.in/cng_ass/images/slide-img2.png" alt="Los Angeles">
                  </div>
              
                  <div class="item size">
                    <img src="https://www.jiomoney.com/images/offers/insurance-premium-payment-offer.jpg" alt="Chicago">
                  </div>
                </div>
              
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
          </div>
    </div>
    
   
      
    
      
    <div class="container3">
        <footer class="page-footer font-small blue">

          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> PayTime.com</a>
          </div>
          <!-- Copyright -->
        
        </footer>
    </div>

     
</body>
</html>